.photoGallery {
    width: 81%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &Button {
        background: transparent;
        border: none;
        padding: 5px 10px;
        padding-left: 0;
        border-radius: 5px;
        box-shadow: none;
        color: #3d4291;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px;
    }

    &Item {
        flex: 0 1 auto;
        padding: 5px 10px;
        text-align: left;
    }

    &Pagination {
        width: 100%;
        list-style: none;

        &Item {
            display: inline-block;
        }
    }
}
