.photoGallery {
    width: 76%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &Button {
        background: transparent;
        border: 1px solid #C72B21;
        padding: 5px 10px;
        border-radius: 2px;
        box-shadow: none;
        color: #C72B21;
        cursor: pointer;
        font-size: 14px;
        display: block;
        width: 100%;
        transition: background-color 0.2s ease, color 0.2s ease;
        margin: 10px auto;

        &:hover {
            background-color: #C72B21;
            color: white;
        }

        &:focus {
            outline: 0;
        }
    }

    &Item {
        flex: 0 1 auto;
        padding: 5px 10px;
        text-align: left;
        background: white;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
        position: relative;
        transition: box-shadow 0.1s ease, top 0.6s ease;

        &:hover {
            box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.22);
            top: -2px;
        }
    }

    &Pagination {
        width: 100%;
        list-style: none;

        &Item {
            display: inline-block;
        }
    }
}
