.fileUpload {
    padding: 20px 0;

    &Select {
        margin: 0 10px;
        padding: 5px;
        min-height: 40px;
    }

    &Button {
        background: #303473;
        color: #F2F2F2;
        border: #303473;
        padding: 6px 10px;
        border-radius: 2px;
        font-weight: bold;
        min-width: 150px;
        min-height: 40px;

        &:focus {
            outline: 0;
        }
    }

    &Status,
    &Folder {
        font-size: 14px;
        text-align: center;
        margin: 10px auto;
    }

    &Status{
        &.success {
            color: green;
        }

        &.error {
            color: #C72B21;
        }
    }
}
